<% children = @pages.select { |p| p.parent_id == page.id } %>
<li id="page_<%= page.id %>" rel="<%= page.root? ? 'root' : 'page' %>" class="page<%= page.root? || (@page && @page.permalink.starts_with?(page.permalink + "/")) ? ' open' : children.empty? ? nil : ' closed' %><%= ' hidden' unless page.show_in_navigation? %>">
  <a href="<%= page.permalink %>" title="<%= page.title %>"><ins class="icon"></ins><%= page.root? ? "Home" : "#{page.slug}" %></a>
  <% unless children.empty? %>
    <ul>
      <%= render :partial => "page", :collection => children %>
    </ul>
  <% end %>
</li>
