<%= breeze_form_for @page, :as => :page, :url => admin_page_path(@page), :remote => true do |form| %>
  <%= scrollable_layout do %>
    <h1>Edit page</h1>
    <%= render "/breeze/admin/shared/error_messages", :target => @page, :object_name => :page %>
    <%= edit_form_for form %>
  <% end %>

  <%= content_tag :div, :class => "fake-right-sidebar" do %>
    <%= submit_tag "Save", :class => "large green save button" if @page.editable? %>
    <%= link_to "View/edit this page", @page.permalink, :target => :_blank, :class => "large edit button" if @page.editable? %>
  <% end %>
<% end %>

