<% content_for :title, "Pages" %>

<%= tabbed_layout do -%>

<% end %>

<% content_for :left do %>
  <%= pane_layout do |left| %>
    <% left.header do %>
      <h2>Pages</h2>
    <% end %>
    <% left.inner do %>
      <%= content_tag :div, id: "pages" do %>
        <%= content_tag :ul, :class => "pages" do %>
          <%= render :partial => "breeze/admin/pages/page", :collection => pages.select(&:root?) %>
        <% end %>
      <% end %>
      
      <div class="actions">
        <%= link_to "New page", new_admin_page_path, :class => "large new page button" %>
      </div>

    <% end %>
  <% end %>
<% end %>

<% content_for :right do -%>
  <%= pane_layout do |right| %>
    
  <% end %>
<% end -%>
