<% content_for :title, "Pages" %>

<% content_for :head do %>
  <%= javascript_include_tag "/breeze/javascripts/pages" %>
<% end %>

<%= tabbed_layout do -%>

<% end %>

<% content_for :left do %>
  <%= pane_layout do |pages| %>
    <% pages.header do %>
      <h2>Pages</h2>
    <% end %>
    <% pages.inner do %>
      <%= content_tag :div, :id => :pages do %>
        <%= content_tag :ul, :class => "pages" do %>
          <%= render :partial => "page", :collection => @pages.select(&:root?) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :right do -%>
  <%= pane_layout do |right| %>
    
  <% end %>
<% end -%>