<% content_for :title, "Pages" %>

<% content_for :head do %>
  <%#= javascript_include_tag "/breeze/javascripts/pages" %>
<% end %>

<%= tabbed_layout do -%>

<% end %>

<% content_for :left do %>
  <%= pane_layout do |left| %>
    <% left.header do %>
      <h2>Pages</h2>
    <% end %>
    <% left.inner do %>
      <%= content_tag :div, :id => :pages do %>
        <%= content_tag :ul, :class => "pages" do %>
          <%= render partial: "breeze/admin/pages/page", collection: pages.select(&:root?) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :right do -%>
  <%= pane_layout do |right| %>
    
  <% end %>
<% end -%>
