- content_for :title, "Settings"
= tabbed_layout do |tabs|
  - tabs.general do
    = breeze_form_for Breeze.config, :as => :settings, :url => admin_settings_path, :method => :put do |form|
      = scrollable_layout do
        %h1 General settings
        = form.fieldset :legend => "Time zone" do
          = form.time_zone_select :time_zone, nil, :label => "Zone", :hint => render("breeze/admin/settings/current_time")
        = form.fieldset :legend => "Notification Email from address" do
          = form.text_field :notification_from_email, :label => "Email", :hint => render("breeze/admin/settings/notification_from_email")
      = fake_right_sidebar do
        = form.submit "Save settings", :class => "large green save button"
  - tabs.redirects do
    - scrollable_layout do
      %h1 Redirects
      = form_for Breeze::Content::Redirect.new, :as => :redirect, :url => admin_redirects_path(:js), :remote => true do |form|
        %table.fancy.redirects
          %thead
            %tr
              %th From
              %th To
              %th Kind
              %th
          %tbody
            = render :partial => "/breeze/admin/redirects/redirect", :collection => Breeze::Content::Redirect.order_by(:permalink.asc)
          %tfoot
            %tr
              %td= form.text_field :permalink
              %td= form.text_field :targetlink
              %td= form.select :kind, Breeze::Content::Redirect::KINDS.to_a.map { |k, v| [ "#{v} (#{k})", k ] }
              %td= form.submit "Add", :class => "add button"
- content_for :right do
  = pane_layout do |right|
    - right.header do
%script{:charset => "utf-8", :type => "text/javascript"}
  $(function() {
  $('#settings_time_zone').change(function() {
  var hint = $('.inline-hints', $(this).closest('li'));
  $.get('/admin/settings/current_time?zone=' + escape($(this).val()), function(data) {
  hint.html(data);
  });
  });
  });
