<%= edit_form_for form, Breeze::Content::NavigationItem %>

<%= form.fieldset :legend => "SEO" do %>
  <%= form.text_field :seo_title %>
  <%= form.text_area :seo_meta_description, :rows => 3 %>
  <%= form.text_area :seo_meta_keywords, :rows => 3 %>
<% end %>

<%# TODO: Edit redirects here. %>
<%= form.fieldset :legend => "Redirects" do %>
  <p>These URLs will also link to this page <p>
  <ul>
	  <% form.object.redirects.each do |redirect| %>
      <li><%= link_to redirect.permalink, redirect.permalink %></li>
	  <% end %>
	</ul>
<% end %>

<% if current_user.can? :manage, Breeze::Content::Item %>


	<%= form.fieldset legend: "<i class='icon disclosure'></i>Developer Info".html_safe, class: 'collapsible collapsed', data: {toggle: "collapse", target: "#developer_info"} do %>
		<div id="developer_info" class="collapse out">

		<h4>Template</h4>
	  <%= form.object.template or "none" %>
	  <h4>Content</h4>
	  <table class="fancy placements">
		  <% form.object.placements.each do |placement| %>
		  	<tr>
		  		<td>
		  			<%= placement.region %>
		  		</td>
		  		<td>
		  			<%= placement.content.class.to_s %>
		  		</td>
		  	</tr>
		  <% end %>
		</table>

		</div>
	<% end %>



<% end %>
