<% content_for :title, "Assets" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "/breeze/javascripts/jcrop/css/jquery.Jcrop.css", "/breeze/javascripts/uploadify/uploadify.css" %>
  <%= javascript_include_tag "/breeze/javascripts/assets", "/breeze/javascripts/jcrop/js/jquery.Jcrop.min.js", "/breeze/javascripts/uploadify/swfobject.js", "/breeze/javascripts/uploadify/uploadify.js" %>
<% end %>

<%= pane_layout do |main| %>
  <% main.header do %>
  
  <% end %>
  <% main.inner do %>
    <%= scrollable_layout :id => :assets do %>
      <h3>Images</h3>
      <%= content_tag :div, :class => "assets image-assets" do %>
        <%= render :partial => "image", :collection => @assets.select(&:image?) %>
      <% end %>
      <h3>Other stuff</h3>
      <%= content_tag :div, :class => "assets other-assets" do %>
        <%= render :partial => "asset", :collection => @assets.reject(&:image?) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= pane_layout do |left| %>
    <% left.header do %>
      <h2>Assets</h2>
    <% end %>
    <% left.inner do %>
      <%= content_tag :div, :id => :folders do %>
        <%= content_tag :ul, :class => "folders" do %>

        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.inner do %>
      <%= render :partial => "upload" %>
    <% end %>
  <% end %>
<% end -%>