<% content_for :title, "Assets" %>

<%= pane_layout do |main| %>
  <% main.header do %>
  
  <% end %>
  <% main.inner do %>
    <%= scrollable_layout :id => :assets do %>
      <h1>Files in <tt><%= File.join("/assets", @folder || "/").sub(/\/$/, "") %></tt></h1>
      <%= render :partial => "/breeze/admin/assets/assets", :locals => { :assets => @assets, :folder => @folder } %>
    <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= pane_layout do |left| %>
    <% left.header do %>
      <h2>Assets</h2>
    <% end %>
    <% left.inner do %>
      <%= content_tag :div, :id => :folders do %>
        <%= content_tag :ul, :class => "folders" do %>
          <%= render :partial => "breeze/admin/assets/folder", :object => "/" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.inner do %>
      <%= render :partial => "breeze/admin/assets/upload", locals: { folder: @folder || "/" } %>
    <% end %>
  <% end %>
<% end -%>
