<%= scrollable_layout do %>
  <%= render "/breeze/admin/shared/error_messages", :target => @user, :object_name => :user %>
  <h1>Edit user</h1>
  <%= form.fieldset do %>
    <%= form.text_field :first_name, :required => true %>
    <%= form.text_field :last_name, :required => true %>
    <%= form.text_field :display_name %>
    <%= form.text_field :email, :required => true %>
  <% end %>

  <%= form.fieldset :legend => "Password" do %>
    <%= form.password_field :password %>
    <%= form.password_field :password_confirmation %>
  <% end %>
  
  <%= form.fieldset :legend => "Roles" do %>
    <% Breeze::Admin::User.roles.each do |role, label| %>
      <li class="checkbox">
        <%= check_box_tag "user[roles][]", role, @user.role?(role), :id => "user_roles_#{role}", :disabled => (@user == current_user && role == :admin) || cannot?(:assign_roles, @user) %> <%= label_tag "user_roles_#{role}", label %>
        <%= Breeze::Admin::Ability.role_description(role) %>
      </li>
    <% end %>
  <% end %>
<% end %>

<%= fake_right_sidebar do %>
  <%= submit_tag "Save", :class => "large green save button" %>
  <%= link_to "Delete", admin_user_path(@user), :remote => true, :method => :delete, :class => "large red delete button" if !@user.new_record? && can?(:destroy, @user) %>
<% end %>